torch
transformers==4.44.0
pyyaml
flask
flask-cors
streamlit
protobuf<4.24
langchain-community
langchain
chromadb
huggingface-hub
edge-tts
numpy<2
faiss-cpu==1.8.0
openai-whisper
pytesseract
pdf2image
Pillow
rank-bm25
duckduckgo-search
reportlab
openai